@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

$cardBG-color: hsl(216, 50%, 16%);
$mainBG-color: hsl(217, 54%, 11%);
$line-color: hsl(215, 32%, 27%);
$cyan: hsl(178, 100%, 50%);
$text-color: hsl(215, 51%, 70%);

@mixin centerIt {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin spaceBtw {
  display: flex;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
}

body {
  @include centerIt();
  flex-direction: column;
  background-color: $mainBG-color;
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  .card-container {
    background-color: $cardBG-color;
    height: 33.8rem;
    width: 20.4rem;
    border-radius: 15px;
    @include centerIt();
    flex-direction: column;
    position: relative;

    .images-container {
      position: relative;
      overflow: hidden;
      margin-top: 25px;
      width: 17.4rem;
      height: 28.4rem;
      border-radius: 5px;
      @include centerIt();

      .main-img {
        display: block;
        width: 100%;
        height: 100%;
      }

      .eye-img{
        position: absolute;
        
        z-index: 1;
        width: 100%;
        height: 100%;
        align-items: center;
        @include centerIt();
        opacity: 0;

        &:hover{
          background-color: $cyan;
          opacity: 0.6;
          cursor: pointer;

          img{
            opacity: 1;
          }
        }
      }
    }

    .header-title {
      width: 100%;
      // padding-top: 10px;
      h1 {
        font-size: 1.36rem;
        color: white;
        padding: 0 23px;

        &:hover{
          color: $cyan;
          cursor: pointer;
        }
      }
    }

    .card-description-container {
      color: $text-color;
      padding: 0 23px;
      font-weight: 300;
      margin-top: -5px;
      padding-bottom: 15px;
      .description {
        
        font-size: 1rem;
        height: 45px;
        line-height: 1.6;
        font-weight: 300;
      }

      .stats-area {
        @include spaceBtw();
        border-bottom: 1px solid $line-color;
        margin-top: 7px;
        margin-left: 2px;

        .amount {
          font-weight: 700;
          display: flex;
          color: $cyan;
          img {
            height: 16px;
            margin-top: 20px;
          }

          p {
            font-size: 1rem;
            padding-left: 5px;
          }
        }

        .time-left {
          display: flex;
          img {
            height: 16px;
            margin-top: 20px;
            padding-right: 5px;
          }

          p {
            font-size: 1rem;
          }
        }
      }

      .creater-info {
        display: flex;
        .avatar {
          img {
            margin-top: 18px;
            margin-left: 0px;
            width: 33px;
            border: 1px solid white;
            border-radius: 50%;
          }
        }

        .info {
          font-size: 0.96rem;
          padding-left: 13px;
          padding-top: 6px;
          span {
            color: white;
            font-size: 0.98rem;
            &:hover {
              color: $cyan;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

footer {
  bottom: 0;
  width: 100%;
  position: fixed;

  .attribution {
    font-size: 11px;
    text-align: center;

    a {
      color: hsl(228, 45%, 44%);
    }
  }
}
